<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
        <title>Não encontrado</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    </head>

    <body class="bg-light">

        <!-- Topo -->
        <nav class="navbar navbar-expand-md navbar-dark bg-info">

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link text-light " href="/">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">Menu</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/pagina_cadastro">Cadastro</a>
                            <a class="dropdown-item" href="/pagina_resultados">Resultados</a>
                        </div>

                    </li>

                </ul>

                <form action="/" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="query" th:value="${query}" aria-label="Buscar">
                    <button class="btn btn btn-light my-2 my-sm-0" type="submit">Buscar</button>
                </form>

            </div>
        </nav>

        <!-- Conteúdo -->
        <main role="main" class="container mt-3">
            <h1>Erro 404 - Página não encontrada!</h1>
        </main>

    </body>

</html>