<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
        <title>Cadastro</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    </head>

    <body class="bg-light">

        <!-- Topo -->
        <nav class="navbar navbar-expand-md navbar-dark bg-info">

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link text-light " href="/">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">Menu</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/pagina_cadastro?operacao=entrada">Cadastrar - Entrada</a>
                            <a class="dropdown-item" href="/pagina_cadastro?operacao=saida">Cadastrar - Saída</a>
                            <a class="dropdown-item" href="/pagina_cadastro/transferencia">Cadastrar - Transferência</a>
                            <a class="dropdown-item" href="/pagina_resultados">Lançamentos</a>
                        </div>

                    </li>

                </ul>

                <form action="/" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="query" th:value="${query}" aria-label="Buscar">
                    <button class="btn btn btn-light my-2 my-sm-0" type="submit">Buscar</button>
                </form>

            </div>
        </nav>

        <!-- Conteúdo -->
        <main role="main" class="container mt-3 mb-5">

            <!-- Formulário -->
            <form th:action="@{/adicionar/{id}(id=${id})}" th:object="${cadastro}" method="post">

                <!-- Dados pessoais -->
                <div class="card mb-4">
                    <div class="card-header font-weight-bold mb-3">Finanças pessoais</div>

                    <div class="pl-3 pr-3">

                        <div class="form-row mb-2">

                            <div class="form-group col-md-2">
                                <label>Data</label>
                                <input type="date" th:field="*{dataVencimento}" name="dataVencimento" class="form-control">
                            </div>

                            <div class="form-group col-md-2">

                                <label>Operação</label>
                                <select class="form-control" id="operacao" name="operacao">

                                    <optgroup label="Selecionado">
                                        <option th:if="${#request.getParameter('operacao') == 'entrada'}" th:value="entrada" th:text="Entrada" selected></option>
                                        <option th:if="${#request.getParameter('operacao') == 'saida'}" th:value="saida" th:text="Saida" selected></option>

                                        <option th:if="*{operacao == 'entrada'}" th:value="entrada" th:text="Entrada" selected></option>
                                        <option th:if="*{operacao == 'saida'}" th:value="saida" th:text="Saída" selected></option>
                                    </optgroup>

                                    <optgroup label="Opções">
                                        <option value="entrada">Entrada</option>
                                        <option value="saida">Saída</option>
                                    </optgroup>

                                </select>

                            </div>

                            <div class="form-group col-md-3">
                                <label>Valor R$</label>
                                <input type="text" th:field="*{valor}" name="valor" class="form-control" placeholder="Valor R$">
                            </div>

                        </div>

                        <div class="form-row mb-2">

                            <div class="form-group col-md-7">
                                <label>Histórico</label>
                                <textarea cols="5" rows="4" th:field="*{historico}" name="historico" class="form-control" placeholder="Histórico"></textarea>
                            </div>

                        </div>

                        <div class="form-row mb-2">

                            <div class="form-group col-md-3">

                                <label>Conta bancária</label>
                                <input type="text" name="conta" th:value="*{conta}" list="conta" class="form-control">
                                <datalist id="conta">
                                    <option value=""></option>
                                    <option th:each="conta : ${contas}" th:value="${conta}" th:text="${conta}"></option>
                                </datalist>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- Salvar -->
                <div class="form-row">

                    <div th:if="not ${cadastro.id}" class="form-group col-md-3">
                        <input type="submit" value="Cadastrar" class="btn btn-success btn-sm">
                    </div>

                    <div th:if="${cadastro.id}" class="form-group col-md-3">                   
                        <input type="submit" value="Salvar" class="btn btn-info mr-4 btn-sm">
                        <a th:href="@{/pagina_deleta/{id}(id=${cadastro.id})}" class="btn text-white bg-danger btn-sm">Deletar</a>
                    </div>

                </div>

            </form>

        </main>

    </body>

</html>
